$heading-color: #D67E35;
$button-color: #D67E34;
$maintext-color: #000000;
$othertext-color: #656363;
$accent-color: #FFFFFF;
$order-color: #FF7400;
$number-icons-color: #BC9060;
$background-color: #FFFAFA;

$border-radius: 30px;

$font-base: 'Open Sans', sans-serif;
$font-accent: 'Tinos', sans-serif;

$heading-font: 400 54px $font-accent;
$main-font: 400 26px $font-accent;
$paragraph-font: 400 16px $font-base;

$button-height: 50px;

$container-width: 1129px;
$container-padding-x: 15px;

$transition-duration: 0.3s;



